<section class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 pt-3">
        <mat-card>
          <mat-card-content>
            <mat-card-header>
              <mat-card-title>hi</mat-card-title>
              <mat-card-subtitle
                >Here you can get the information about
                weather</mat-card-subtitle
              >
            </mat-card-header>
            <mat-card-actions>
              <button routerLink="/weather" mat-raised-button>
                Weather today
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
